<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>555916548277-e65tgghal7io23aoi6ooavdiigvojrhn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.555916548277-e65tgghal7io23aoi6ooavdiigvojrhn</string>
	<key>API_KEY</key>
	<string>AIzaSyAKGONSCeCo8xSuL3Dy_H88izslWR_18JM</string>
	<key>GCM_SENDER_ID</key>
	<string>555916548277</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.starterkitFlutter</string>
	<key>PROJECT_ID</key>
	<string>diggitize-starterkit</string>
	<key>STORAGE_BUCKET</key>
	<string>diggitize-starterkit.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:555916548277:ios:989a3f5b265655ee2dc6fc</string>
</dict>
</plist>